<ul class="p-0 container">
  <li>
    <a
      id="return-button"
      href="#"
      class="btn"
      type="button"
      [routerLink]="['../../']"
      >Powrót</a
    >
  </li>
  <ul class="d-flex p-0 right">
    <li>
      <button
        id="search-button"
        class="btn navigate-btn me-3"
        type="submit"
        [disabled]="!formValid"
        [attr.aria-disabled]="!formValid"
        (click)="sendForm()">
        Sprawdź
      </button>
    </li>
    <li>
      <button
        id="clear-form-button"
        class="btn"
        type="button"
        (click)="clearForm()"
      >
        Wyczyść
      </button>
    </li>
  </ul>
</ul>
