@import "_responsive";
@import "_buttons";

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  button {
    @include button;
    width: 25px;
    height: 34px;
    margin-right: 20px;
    border-radius: 5px;

    @include breakpoint(min-tablet) {
      width: 70px;
    }
  }
}


