@import "_variables";

@mixin reusable-btn {
  width: 100%;
  height: 34px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: $font;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background: $second-blue-color;
  font-size: 14px;
  color: #fff;
  border: 1px solid $second-blue-color;
  border-radius: 0;
  font-family: $font;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:disabled{
    opacity: 0.65;
  }
}

@mixin return-button {
  font: normal 14px $font, sans-serif;
  background: #fff;
  color: $second-blue-color;
  border: 1px solid $second-blue-color;
  border-radius: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin clear-button {
  font: normal 14px $font, sans-serif;
  background: #fff;
  color: $second-blue-color;
  border: 1px solid $second-blue-color;
  border-radius: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin download-button {
  width: 23px;
  height: 23px;
}

@mixin delete-button {
  width: 28px;
  height: 28px;
}

@mixin expand-button {
  width: 24px;
  height: 24px;
}

@mixin checkbox {
  background-color: $second-blue-color;
  border: 1px solid $second-blue-color;
  border-color: $second-blue-color;
}

@mixin disabled-button {
  opacity: 1;
  background-color: $line-color;
  border: 1px solid $line-color;
}
