<div class="col-12 mt-4">
  <form class="col-12 col-md-7 bg-white p-4 shadow" [formGroup]="form">
    <dl class="mt-0">
      <dt>Numer zgłoszenia <span class="text-danger">*</span></dt>
      <dd>
        <mat-form-field>
          <input
            type="text"
            id="nrZgloszenia"
            matInput
            formControlName="identyfikatorEZawiadomienia"
            autocomplete="one-time-code"
          />
          <mat-error *ngFor="let error of errorService.mapErrors(getFormControl('identyfikatorEZawiadomienia'))">{{error}}</mat-error>
        </mat-form-field>
      </dd>
      <dt>Numer rejestracyjny <span class="text-danger">**</span></dt>
      <dd>
        <mat-form-field>
          <input
            upperCase
            type="text"
            id="nrRejestracyjny"
            matInput
            formControlName="nrRejestracyjny"
            autocomplete="one-time-code"
          />
          <mat-error *ngFor="let error of errorService.mapErrors(getFormControl('nrRejestracyjny'))">{{error}}</mat-error>
        </mat-form-field>
      </dd>

      <dt>Numer VIN <span class="text-danger">**</span></dt>
      <dd>
        <mat-form-field>
          <input upperCase
                 type="text"
                 id="nrVin"
                 matInput
                 formControlName="nrVin"
                 autocomplete="one-time-code"
          />
          <mat-error *ngFor="let error of errorService.mapErrors(getFormControl('nrVin'))">{{error}}</mat-error>
        </mat-form-field>
      </dd>
    </dl>
    <div class="error-cont my-3">
      <mat-error>
                <span *ngIf="form.errors?.['VINorRegistrationNumber'] && (getFormControl('nrVin').touched || getFormControl('nrRejestracyjny').touched)">
                  Należy wypełnić numer rejestracyjny lub numer VIN.
                </span>
      </mat-error>
    </div>
    <div class="row">
      <div class="col-lg-3 res-captcha d-flex" *ngIf="!!siteKeyV2">
        <re-captcha (resolved)="resolved($event)"
                    siteKey="{{siteKeyV2}}">
        </re-captcha>
        <div class="star" mandatory></div>
    </div>
    </div>
  </form>

  <div class="mt-4">
    <p><span class="text-danger">**</span> - Wymagane podanie wartości co najmniej w jednym z pól</p>
    <p><span class="text-danger">*</span> - Wymagane zaznaczenie</p>
  </div>
</div>
